html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section.center {
  display: flex;
  align-items: center;
  justify-content:  center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  color: #5d9ec4;
}
